<style>
html {
    background: white;
    font-family: serif;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 2em;
}

body {
    max-width: 50em;
    line-height: 150%;
}

.sourceCode {
    max-width: unset;
}

nav {
    line-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2em;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

ul li, ol li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

table {
    border: 0px;
    width: 100%;
}

th {
    font-weight: bold;
}

tr {
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
